// Base 16 color definitions
//
// base00 - Default Background
// base01 - Lighter Background (Used for status bars, line number and folding marks)
// base02 - Selection Background
// base03 - Comments, Invisibles, Line Highlighting
// base04 - Dark Foreground (Used for status bars)
// base05 - Default Foreground, Caret, Delimiters, Operators
// base06 - Light Foreground (Not often used)
// base07 - Light Background (Not often used)
// base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
// base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
// base0A - Classes, Markup Bold, Search Text Background
// base0B - Strings, Inherited Class, Markup Code, Diff Inserted
// base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
// base0D - Functions, Methods, Attribute IDs, Headings
// base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
// base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

// import light pallette
@import 'base16/base16-mexico-light';
:root {
  --light_base00: #{$base00};
  --light_base01: #{$base01};
  --light_base02: #{$base02};
  --light_base03: #{$base03};
  --light_base04: #{$base04};
  --light_base05: #{$base05};
  --light_base06: #{$base06};
  --light_base07: #{$base07};
  --light_base08: #{$base08};
  --light_base09: #{$base09};
  --light_base0A: #{$base0A};
  --light_base0B: #{$base0B};
  --light_base0C: #{$base0C};
  --light_base0D: #{$base0D};
  --light_base0E: #{$base0E};
  --light_base0F: #{$base0F};
  --light_good: lightgreen;
  --light_bad: coral;
  --light_excellent: #0909FF;
}

// import dark pallette
@import 'base16/base16-oceanicnext';
:root {
  --dark_base00: #{$base00};
  --dark_base01: #{$base01};
  --dark_base02: #{$base02};
  --dark_base03: #{$base03};
  --dark_base04: #{$base04};
  --dark_base05: #{$base05};
  --dark_base06: #{$base06};
  --dark_base07: #{$base07};
  --dark_base08: #{$base08};
  --dark_base09: #{$base09};
  --dark_base0A: #{$base0A};
  --dark_base0B: #{$base0B};
  --dark_base0C: #{$base0C};
  --dark_base0D: #{$base0D};
  --dark_base0E: #{$base0E};
  --dark_base0F: #{$base0F};
  --dark_good: darkgreen;
  --dark_bad: coral;
  --dark_excellent: lightblue;
}

// import print pallette
@import 'base16/base16-grayscale-light';
:root {
  --print_base00: #{$base00};
  --print_base01: #{$base01};
  --print_base02: #{$base02};
  --print_base03: #{$base03};
  --print_base04: #{$base04};
  --print_base05: #{$base05};
  --print_base06: #{$base06};
  --print_base07: #{$base07};
  --print_base08: #{$base08};
  --print_base09: #{$base09};
  --print_base0A: #{$base0A};
  --print_base0B: #{$base0B};
  --print_base0C: #{$base0C};
  --print_base0D: #{$base0D};
  --print_base0E: #{$base0E};
  --print_base0F: #{$base0F};
  --print_good: black;
  --print_bad: black;
  --print_excellent: black;
}

// apply light pallette
:root,
:root[data-theme='light'] {
  --base00: var(--light_base00);
  --base01: var(--light_base01);
  --base02: var(--light_base02);
  --base03: var(--light_base03);
  --base04: var(--light_base04);
  --base05: var(--light_base05);
  --base06: var(--light_base06);
  --base07: var(--light_base07);
  --base08: var(--light_base08);
  --base09: var(--light_base09);
  --base0A: var(--light_base0A);
  --base0B: var(--light_base0B);
  --base0C: var(--light_base0C);
  --base0D: var(--light_base0D);
  --base0E: var(--light_base0E);
  --base0F: var(--light_base0F);
  --statustext: var(--base05);
  --good: var(--light_good);
  --bad: var(--light_bad);
  --excellent: var(--light_excellent);
}

// apply dark pallette
:root[data-theme='dark'] {
  --base00: var(--dark_base00);
  --base01: var(--dark_base01);
  --base02: var(--dark_base02);
  --base03: var(--dark_base03);
  --base04: var(--dark_base04);
  --base05: var(--dark_base05);
  --base06: var(--dark_base06);
  --base07: var(--dark_base07);
  --base08: var(--dark_base08);
  --base09: var(--dark_base09);
  --base0A: var(--dark_base0A);
  --base0B: var(--dark_base0B);
  --base0C: var(--dark_base0C);
  --base0D: var(--dark_base0D);
  --base0E: var(--dark_base0E);
  --base0F: var(--dark_base0F);
  --statustext: var(--base00);
  --good: var(--dark_good);
  --bad: var(--dark_bad);
  --excellent: var(--dark_excellent);
}

// apply dark pallette
@media (prefers-color-scheme: dark) {
  :root {
    --base00: var(--dark_base00);
    --base01: var(--dark_base01);
    --base02: var(--dark_base02);
    --base03: var(--dark_base03);
    --base04: var(--dark_base04);
    --base05: var(--dark_base05);
    --base06: var(--dark_base06);
    --base07: var(--dark_base07);
    --base08: var(--dark_base08);
    --base09: var(--dark_base09);
    --base0A: var(--dark_base0A);
    --base0B: var(--dark_base0B);
    --base0C: var(--dark_base0C);
    --base0D: var(--dark_base0D);
    --base0E: var(--dark_base0E);
    --base0F: var(--dark_base0F);
    --statustext: var(--base00);
    --good: var(--dark_good);
    --bad: var(--dark_bad);
    --excellent: var(--dark_excellent);
  }
}

// apply print pallette
@media print {
  :root {
    --base00: var(--print_base00);
    --base01: var(--print_base01);
    --base02: var(--print_base02);
    --base03: var(--print_base03);
    --base04: var(--print_base04);
    --base05: var(--print_base05);
    --base06: var(--print_base06);
    --base07: var(--print_base07);
    --base08: var(--print_base08);
    --base09: var(--print_base09);
    --base0A: var(--print_base0A);
    --base0B: var(--print_base0B);
    --base0C: var(--print_base0C);
    --base0D: var(--print_base0D);
    --base0E: var(--print_base0E);
    --base0F: var(--print_base0F);
    --good: var(--print_good);
    --bad: var(--print_bad);
    --excellent: var(--print_excellent);
    --color: var(--base05);
    --background: var(--base00);
    --link: var(--base05);
    --visited: var(--base05);
    --border: var(--base06);
    --footer: var(--base07);
    --tab: var(--base02);
    --input: white;
    --keyword: var(--base0E);
    --success: var(--good);
    --statustext: var(--base05);
  }
}

// semantically defined pallette
:root {
  --color: var(--base05);
  --background: var(--base00);
  --link: var(--base0D);
  --visited: var(--base0E);
  --border: var(--base04);
  --footer: var(--base02);
  --tab: var(--base02);
  --input: white;
  --inputbackground: white;
  --inputcolor: black;
  --focusinput: var(--base0D);
  --success: var(--good);
  --failure: var(--bad);
  --incomplete: orange;
  --meets: var(--good);
  --excels: var(--excellent);
  --buttonbackground: var(--base0D);
  --buttonforeground: var(--base00);
  --buttonsubmittedbackground: var(--base02);
  --buttonsubmittedforeground: var(--base04);
  --buttonhoverbackground: var(--base0C);
  --buttonhoverforeground: var(--base02);
  --keyword: var(--base0E);
}

* {
  color: var(--color);
}

a {
  &:link {
    color: var(--link);
  }

  &:visited {
    color: var(--visited);
  }
}
